.about {
  padding: 9em 1em;
  height: 100vh;

  display: flex;
  justify-content: end;
  align-items: end;
  &__info {
    width: 30vw;
  }
  &__title {
    margin-bottom: 0.5em;
    font-size: 2rem;
    font-weight: 300;
  }
  &__description {
    font-weight: 200;
  }
}
